.sliderItem {
    animation-duration: 1s;
    animation-name: slidein;
    position: relative;
}

@keyframes slidein {
    from {
        margin-left: 40%;
    }

    to {
        margin-left: 0%;
    }
}

.sliderContainer {
    border: 1px solid;
}